*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.Header{
   background-image: url('./pexels-felixmittermeier-956999.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   height: 500px;
}
